@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    font-family: "Poppins", sans-serif;
}

html{
    scroll-behavior: smooth;
}

section[id]{
    scroll-margin-top:70px ;

}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header{
    background-image: linear-gradient(rgba(0,0,0, 0.7),rgba(0,0,0, 0.7)),
    url(images/bg.jpg);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 70vh;
    display: flex;
    align-items: center;
}

.menu{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    max-width: 200px;
    height: auto;
}

.menu .navbar ul li{
    position: relative;
    float: left;
}

.menu .navbar ul li a{
    padding: 20px;
    color: #FFFDFC;
    display: block;
    font-weight: 600;
    font-size: 18px;
}

.menu .navbar ul li a:hover{
    color: #CE967B;
}

.menu-icono{
    width: 25px;
}

.header-content{
    text-align: center;
}

.header-content h1{
    font-size: 75px;
    line-height: 80px;
    color: #F9FAFC;
    text-transform: uppercase;
    margin-bottom: 35px;
}

.header-content p{
    font-size: 16px;
    color: #c5c5c5;
    padding: 0 250px;
    margin-bottom: 25px;
}

.btn-1{
    display: inline-block;
    padding: 11px 35px;
    background-color: #CE967B;
    color: #F9FAFC;
    text-transform: uppercase;
}

.btn-1:hover{
    background-color: #ebad8d;
}

.coffee{
    padding: 100px 0;
    background-color: #E1E2E6;
    position: relative;
}

.coffee-content {
    text-align: center;
}

.coffee-content h2 {
    font-size: 55px;
    line-height: 70px;
    color: #323337;
    text-transform: uppercase;
    padding: 0 250px;
    margin-bottom: 15px;
}

.txt-p{
    font-size: 16px;
    color: #414247;
    padding: 0 250px;
    margin-bottom: 35px;
}

.coffee-group{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.coffee-1{
    padding: 0 25px;
}

.coffee-1 img{
    width: 200px;
}

.coffee-img{
    position: absolute;
    top: 0;
    right: 0;
}

.coffee-1 h3{
    color: #323337;
    font-size: 20px;
    margin-bottom: 15px;
}

.services{
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(images/bg2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 100px 0;
}

.services-content{
    text-align: center;
}

.services-content h2{
    font-size: 55px;
    line-height: 70px;
    color: #F9FAFC;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.services-content p{
    font-size: 16px;
    color: #c5c5c5;
    margin-bottom: 50px;
    padding: 0 100px;
}

.services-group{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.services-1{
    padding: 0 100px;
}

.services-1 img{
    width: 25px;
    margin-bottom: 15px;
}

.services-1 h3{
    color: #eaccb3;
    font-size: 18px;
}

.general{
    display: flex;
}

.general-1{
    width: 50%;
    padding: 100px 250px 100px 100px;
    background-color:#E1E2E6 ;
}

.general-2{
    background-image: url(images/coffe-1.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
}

.general-3{
    background-image: url(images/coffee-2.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
}

h2{
    font-size: 55px;
    line-height: 70px;
    color: #323337;
    text-transform: uppercase;
    margin-bottom: 20px;
}

p{
    font-size: 16px;
    color: #414247;
    margin: 20px 0 45px 0;
}

.contact{
    padding: 100px 0;
    text-align: center;
}

.contact-content{
    display: flex;
    justify-content: space-between;
}

.contact-1{
    padding: 15px 55px;
}

.contact-1 img{
    width: 250px;
    border-radius: 15px;
    margin-bottom: 15px;
}

.contact-1 h3{
    font-size: 25px;
    color: #323337;
}

.contact-1 h4 {
    font-size: 12px;
    color: #323337;
}
.footer{
    padding: 100px 0;
    background-color: #000000;
}

.footer-content{
    display: flex;
    justify-content: space-between;
}

.link h3{
    font-size: 18px;
    color: #F9FAFC;
    margin-bottom: 15px;
}

.link a{
    font-size: 16px;
    color: #c5c5c5;
    display: block;
    margin-bottom: 15px;
}